* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn1 {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    border: none;
    padding: 5px 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    transform: scale(1);
    transition: .5s ease-in-out;
}

.btn1:hover {
    transform: scale(1.5);
    transition: .5s ease-in-out;
}